@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

   .navbar-brand img {
       height:40px ;
   }

    body {
        background-color:#E6B2B2 ;
    }

    /*------------------------------------------------------------------------------------------------ Utility */
.mb-60 {
    margin-bottom: 60px;
}
.mt-40 {
    margin-top: 40px;
}
.mr-30 {
    margin-right: 30px;
}
.ml-30 {
    margin-left: 30px;
}

    /*------------------------------------------------------------------------------------------------ Special paddings/margins/text */

    .uppercase {
        text-transform: uppercase;
    }

    .general-sub {
        font-family: "Arimo", sans-serif;
        font-weight: 300;
        color: #fff;
        letter-spacing: 3px;
    }


    /*------------------------------------------------------------------------------------------------ Nav */

    nav {
        background-color: darkgrey;
    }
    nav a {
        background-color: darkgrey;
        color: #fff;
    }

    /*------------------------------------------------------------------------------------------------ Price List */

    .table .table-bordered {
        border-color: black;
    }

    /*------------------------------------------------------------------------------------------------ footer */
  
    footer {
        background-color: darkgrey;
        color: #fff;
        min-height: 200px;
        margin-top: 50px;
    }

    .inline-block {
       display: inline-block;
    }
    
    .social-links li a i {
        width: 32px;
        height: 32px;
        padding: 12px 0;
        border-radius: 50%;
        font-size: 13px;
        line-height: 7px;
        text-align: center;
        color: #fafafa;
        background: #8f8f8f;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }
   /* .fa-facebook-f:before, .fa-facebook:before {
    font-size: 30px ;
    color: white;
   }

   .fa-instagram:before {
    font-size: 30px;
   }

   

  
   